
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bulma
@import 'node_modules/bulma/bulma';

// Bulma vue components
@import 'node_modules/buefy/src/scss/buefy';

//Font-awesome
@import 'node_modules/font-awesome/scss/font-awesome';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
